:root {
    --c-bg: black;
    --c1-p1: blue;
    --c1-p2: darkblue;
    --c1-p3: lightblue;
    --c2-p1: yellow;
    --c2-p2: grey;
    --c3-p1: white;
}

font-face {
    font-family: 'roboto';
    src: url('/fonts/Roboto-MediumItalic.ttf');
}
font-face {
    font-family: 'roboto-black';
    src: url('/fonts/Roboto-Black.ttf');
}

body {
    font-family:'roboto', Verdana, sans-serif;
    color: var(--c-bg);
}

.canvas {
    min-width: 800px;
    width: 800px;
    min-height: 800px;
    height: 800px;
    overflow: hidden;
    background-color: var(--c-bg);
    display: grid;
    grid-template-columns: 22px repeat(7, 90px 21px) 1px;
    grid-template-rows: 50px 4px repeat(4,90px 30px 4px) 50px;

}

.gridGarden {
    grid-template-areas: 
    "... tit tit tit tit tit tit tit tit tit ... inf inf inf inf ..."
    "... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ..."
    "... i11 ... i12 ... ... ... ... ... ... ... ... ... ... ... ..."
    "... s11 ... s12 ... ... ... ... ... ... ... ... ... ... ... ..."
    "... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ..."
    "... i21 ... i22 ... ... ... ... ... ... ... ... ... ... ... ..."
    "... s21 ... s22 ... ... ... ... ... ... ... ... ... ... ... ..."
    "... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ..."
    "... i31 ... i32 ... ... ... ... ... ... ... ... ... ... ... ..."
    "... s31 ... s32 ... ... ... ... ... ... ... ... ... ... ... ..."
    "... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ..."
    "... i41 ... i42 ... ... ... ... ... ... ... ... ... ... ... ..."
    "... s41 ... s42 ... ... ... ... ... ... ... ... ... ... ... ..."
    "... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ..."
    "b00 b01 b01 b02 b02 b03 b03 b04 b04 b05 b05 b06 b06 b99 b99 b99"
    ;
}

.gridTitle {
    font-size: 1.6em;
    font-family: 'roboto';
    color: var(--c1-p3);
    grid-area: tit;
    display: flex;
    justify-content: left;
}

.gridInfo {
    grid-area: inf;
    display: flex;
    flex-direction: row;
}

